name: test_workflow
on: push 
jobs:
    test_job:
        runs-on: ubuntu-latest
        steps:
        - name: get code
          uses: actions/checkout@v3
        - name: install nodejs
          uses: actions/setup-node@v3
          with:
            node-version: '18'
        - name: install dependencies
          run: npm ci 
        - name: run tests
          run: npm test 
    deploy:
        needs: test_job 
        runs-on: ubuntu-latest
        steps:
        - name: get code
          uses: actions/checkout@v3
        - name: install nodejs
          uses: actions/setup-node@v3
          with:
            node-version: '18'
        - name: install dependencies
          run: npm ci 
        - name: build
          run: npm run build 
        - name: deploy
          run: echo "deploying the server"